<h1>Instagram</h1>

<div class="wrapper">
  <%= link_to "New Post", new_post_path %>

  <% @posts.each do |post| %>
    <div class="post-card">
      <%= link_to(post_path(post)) do %>
        <div class="post-card-user">
          <%= post.user.email %>
        </div>
        <div class="post-card-image">
          <%= image_tag(post.image.url(:medium)) %>
        </div>
      <% end %>
        <div class="post-card-caption">
          <span class="post-card-caption-user"><%= current_user.email %></span>
          <%= post.caption %>
        </div>
    </div>
  <% end %>
</div>
