
    <%= link_to "Back home", posts_path %>

<div class="wrapper">
  <div class="post-card">
    <div class="post-card-user">
      <%= current_user.email %>
      <%= link_to post_path(@post), method: :delete, class: "post-delete", id: "delete_post" do %>
        <i class="far fa-times-circle"></i>
      <% end %>
    </div>
    <div class="post-card-image">
      <%= image_tag(@post.image.url(:medium)) %>
    </div>
    <div class="post-card-caption">
      <span class="post-card-caption-user"><%= current_user.email %></span>
      <%= @post.caption %>
      <%= link_to edit_post_path(@post), class: "post-edit", id: "edit_post" do %>
        <i class="far fa-edit"></i>
      <% end %>
    </div>
    <ul class="comment-list" id="comments">
      <% @post.comments.each do |comment| %>
        <%= render 'comments/show', comment: comment %>
      <% end %>
    </ul>
    <div class="wrapperCommentForm">
      <%= render 'comments/form', post: @post, comment: @comment %>
    </div>
  </div>
</div>
